profile           = 
region            = 
vpc_name          = 
cidr_block        = 
cidrs             = 
azs               = 
amis              = 
bucket_name       = 
bucket_acl        = 
db_identifier     = 
db_storage_size   = 
db_instance_class = 
db_engine         = 
db_engine_version = 
db_name           = 
db_username       = 
db_password       = 
db_public_access  = 
db_multiaz        = 
instance_type     = 
instance_vol_type = 
instance_vol_size = 
instance_subnet   = 
key_name          = 
dynamodb_table    = 
dynamodb_key      = 